{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back! This is an online portal for performing sentiment analysis on the sentences or paragraphs of your choice! Enter your desired prompt into the given box below and click 'Generate Analsis' to view the sentiment.</p>
<form action="/generate" method="post">
    <label for="prompt">Enter a prompt:</label>
    <input type="text" id="prompt" name="prompt" size="100"><br>
    <input type="submit" value="Generate analysis">
</form>
<div id="output">
    {% if output %}
      <h2>Generated Output:</h2>
      <p>{{ output }}</p>
    {% endif %}
</div>
{% endblock %}